<html>
    <head>
        <title>Mini message board</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <a href="/new">Enter new message</a>
        <div class="MessageContainer">
            <% messages.forEach((message, index) => { %>
                <div class="Message">
                    <p>TEXT: <%= message.text %></p>
                    <p>USER: <%= message.user %></p>
                    <p>ADDED: <%= message.added %></p>
                    <a href="/mssg/<%= index %>">Open</a>
                </div>
            <% }) %> 
        </div>
    </body>
</html>