<html>
    <head>
        <title>Message Page</title>
    </head>
    <body>
        <p>TEXT: <%= messages[index].text %></p>
        <p>USER: <%= messages[index].user %></p>
        <p>ADDED: <%= messages[index].added %></p>
    </body>
</html>